name: Build and Deploy

on:
  push:
    branches:
      - main  

env:
  PROJECT_ID: 'n3xtbridge' 
  REGION: 'us-central1'               
  SERVICE: 'jobmatch-backend'          
  WIF_PROVIDER: 'projects/755404739186/locations/global/workloadIdentityPools/github/providers/my-repo'
  # WIF_SERVICE_ACCOUNT: 'my-service-account@my-project.iam.gserviceaccount.com'

permissions:
  contents: read
  id-token: write # Required for Workload Identity

jobs:
  build:
    name: Build and push Docker images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4

      - name: Build the server binary
        run: |
          chmod +x ./build.sh
          ./build.sh

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker image
        run: |
          DEPLOY_VERSION=$(git rev-parse --short HEAD)
          docker build . -t muhammadolammi/jobmatch-backend:latest -t muhammadolammi/jobmatch-backend:${DEPLOY_VERSION}
          docker push muhammadolammi/jobmatch-backend --all-tags

  deploy:
    needs: build
    name: Deploy to Cloud Run
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: '${{ secrets.WIF_PROVIDER }}'
          # service_account: '${{ env.WIF_SERVICE_ACCOUNT }}'

      - name: 'Deploy to Cloud Run'
        uses: 'google-github-actions/deploy-cloudrun@v2'
        with:
          service: '${{ env.SERVICE }}'
          region: '${{ env.REGION }}'
          # Cloud Run will pull the image from Docker Hub
          image: 'index.docker.io/muhammadolammi/jobmatch-backend:latest'
          # Pass your existing environment variables here
          env_vars: |
            ENV=${{ secrets.ENV }}
            PORT=${{ secrets.DEPLOY_PORT }}
            DB_URL=${{ secrets.DB_URL }}
            RABBITMQ_URL=${{ secrets.RABBITMQ_URL }}
            CLIENT_API_KEY=${{ secrets.CLIENT_API_KEY }}
            JWT_KEY=${{ secrets.JWT_KEY }}
            R2_ACCOUNT_ID=${{ secrets.R2_ACCOUNT_ID }}
            R2_BUCKET=${{ secrets.R2_BUCKET }}
            R2_SECRET_KEY=${{ secrets.R2_SECRET_KEY }}
            R2_ACCESS_KEY=${{ secrets.R2_ACCESS_KEY }}
            PAYSTACK_SECRET_KEY=${{ secrets.PAYSTACK_SECRET_KEY }}